.ctaContainers {
    text-align: center;
    margin: 4rem 0 4rem 0 !important;
    transition: 0.3s;

    @include respondTo(md) {
        cursor: pointer;

        &:hover {
            transition: 0.3s;
            color: #333;
            transform: translateY(-2px);
        }
    }
    
    .cta {
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        background-color: $color1;
        border-right: solid 2px #333;
        border-bottom: solid 2px #333;
        border-radius: 0.25rem;
        padding: 0.75rem;
        transition: 0.3s;
        box-shadow: $boxShadow;

        @include respondTo(sm) {
            font-size: 1.25rem;
        }

        @include respondTo(md) {
            font-size: 1.5rem;
            padding: 1rem;
            
            &:hover {
                transition: 0.3s;
                color: black;
            }
        }
    }
}