.formMainContainer {
    background: rgba(255, 255, 255, 1);
    padding: 2rem 3rem 2rem 3rem;
    border-radius: 0.25rem;
    position: relative;
    box-shadow: $boxShadow;
    width: 320px;
    padding: 2rem;

    @include respondTo(tab) {
        width: 360px;
    }

    @include respondTo(sm) {
        width: 450px;
    }

    @include respondTo(md) {
        width: 560px;
    }

    .card {
        .errorMessagesContainers {
            display: flex;
            flex-direction: column;
            gap: 1rem 0;
            justify-content: center;

            #contactErrorMessages {
                font-size: 0.75rem;
                position: absolute;
            }

            .emailError {
                bottom: 7.5rem;
            }

            .nameError {
                bottom: 4.5rem;
            }

            .messageError {
                bottom: 6rem;
            }
        }

        .cardLogoContainer {
            margin-bottom: 2rem;

            .formLogo {
                width: 64px;
                
                @include respondTo(md) {
                    transition: 2s;
                    
                    &:hover {
                        transition: 2s;
                        transform: rotate(360deg);
                    }
                }
            }
        }

        .cardLogoContainer, .cardHeader, .formFooter {
            text-align: center;
        }

        .cardHeader {
            margin-bottom: 2rem;

            .formTitle {
                font-size: 2rem;
                font-weight: 600;
                margin-bottom: 1rem;
                color: $color1;
            }

            .formTxt {
                font-size: 0.8rem;

                @include respondTo(sm) {
                    font-size: 1rem;
                }
            }
        }

        .forms {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;

            .formItem {
                position: relative;

                label {
                    margin-left: 1rem;
                    margin-bottom: 0.5rem;
                    font-size: 0.8rem;
                }

                .formInput {
                    border: solid 2px #333 !important;
                }
                
                input[type="text"], textarea, input[type="email"] {
                    border: none;
                    outline: none;
                    background: rgba(255, 255, 255, 0.3);
                    padding: 1rem 1.5rem;
                    padding-left: calc(1rem * 3.5);
                    border-radius: 0.25rem;
                    width: 100%;
                    transition: background 0.5s;
                    box-shadow: $boxShadow;
    
                    &:focus {
                        background: white;
                    }
                } 

                textarea {
                    height: 100px;
                    border-radius: 0.25rem;
                    padding-top: 2.5rem;
                    resize: none;
                    scrollbar-width: thin;
                    scrollbar-color: #333 #eee;
                }
    
                .inputContainers {
                    position: relative;
                    margin-top: 0.5rem;

                    &::after {
                        position: absolute;
                        right: -1rem;
                        top: 0;
                        content: "*";
                        color: red;
                        opacity: 0.8;
                    }

                    .itemIcon {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        left: 1rem;
                        font-size: 1.5rem;
                        opacity: 0.5;
                    }
                    
                    .nameValidation, .emailValidation, .messageValidation {
                        position: absolute;
                        font-size: 0.75rem;
                        color: mediumseagreen;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        right: 1rem;
                        padding: 0.5rem;
                    }
                }

                
                .emailError, .nameError, .messageError {
                    font-size: 0.75rem;
                    margin-left: 2rem;
                    color: red;
                }
            }

            .formBtn {
                background: $color1;
                color: white;
                padding: 1rem;
                border-radius: 0.5rem;
                text-transform: uppercase;
                letter-spacing: 2px;
                transition: background 0.5s;
                font-size: 1rem;
                font-weight: bolder;
                box-shadow: $boxShadow;
                width: fit-content;
                margin: 0 auto;

                &:hover {
                    background-color: rgba(0, 0, 0, 1);
                    cursor: pointer;
                }
            }

            #reCaptcha {
                margin: 0 auto;
            }
            
            #formSubmitValidationMessage {
                color: mediumseagreen;
            }

            #formSubmitErrorMessage {
                color: indianred;
            }
        }
    }
}